* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg,#7071E8,#C683D7,#ED9ED6,#FFC7C7);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

.generated-text {
  font-family: cursive;
  font-size:50px;
  font-weight:bold;
  line-height:20px;
  text-align:center;
  color:#ffffff;
  background-color:#4d4d4d00;
  padding:20px;
}

.container {
  flex: 1;
  position: relative;
  isolation: isolate;
  max-width: 1200px;
  margin-inline: auto;
  height: 100vh;
  width: 100%;
  
}

.image-1,
.image-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-1 {
  width: 500px;
}

.image-2 {
  width: 500px;
}

.btn {
  font-family: cursive;
  position: absolute;
  top: calc(100% - 5rem);
  min-width: 120px;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  background-color: #8E7AB5;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 30px;
}

.btn:hover {
  background-color: #e2e8f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-yes {
  left: 50%;
  transform: translateX(calc(-100% - 1rem));
  z-index: 1;
}

.btn-no {
  left: calc(50% + 1rem);
  transition: all 0.5s ease;
  z-index: 2;
}
